.bind-qrcode-panel {
  position: fixed;
  width: 180px;
  right: 20px;
  top: 100px;
  background-color: #eee;
  padding-top: 10px;
  border-radius: 5px;
  .title {
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .qrcode {
    text-align: center;
  }
  .bottom {
    margin-left: 5px;
  }
}