.action-value-container {
  // key - value 类型的数据配置
  .value-key-value {
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
    .label {
      width: 120px;
      padding-right: 5px;
    }
    .value {
      flex-grow: 1;
    }
    .row-last {
      margin-bottom: 0;
    }
  }
}
