.head-nav {
  display: flex;
  color: #20a0ff;
  height: 52px;
  line-height: 52px;

  .menu-slot {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px dashed #999;
  }
  .link-blank {
    border-right: none;
    flex-grow: 1;
    text-align: right;
  }
  .link-blank a {
    margin-left: 20px;
  }

  .el-dropdown {
    margin-right: 15px;
  }

  .el-button--small {
    padding: 9px 12px;
    border-radius: 3px;
  }
}