.view-configure {
  max-width: 500px;

  .el-button {
    margin-top: 15px;
    padding: 10px 28px;
    letter-spacing: 2px;
  }

}

.socks-editor {
  height: 500px;
  width: 760px;
  font-size: 18px;
  padding: 10px 20px;
}
