.device {
  background-color: #fafafa;
  border: 1px solid #eaeefb;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  .name {
    margin-bottom: 5px;
  }
  .id {
    font-style: italic;
    font-size: 12px;
  }
}
