.rule-edit-form {
    text-align: left;
}

.inline-block {
    display: inline-block;
}

.conditon {
    margin-top: 10px;
}

.conditon:after {
    content: "";
    display: block;
    border-bottom: 1px dotted #adadad;
}

.dashed-border {
    border-top: 1px dotted #adadad;
}

.action {
    margin-bottom: 10px;
}

.left-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
    width: 160px;
    vertical-align: top;
    border-right: 1px dotted #c0c0c0;
}

.right-panel {
    width: calc(100% - 170px);
    height: 80px;
    padding-left: 10px;
}

.action-data {
    text-align: left;
    margin-top: 35px;

}

.action-option {
    margin-top: 5px;
}
