.rule-list-op {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  .op {
    position: relative;
    margin-left: 10px;
    .importfile {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .importfile::-webkit-file-upload-button {
      cursor: pointer;
    }
  }
}

.rule-file-op-container {
    display: flex;
    justify-content: space-around;
}
.addrule-btn-wrap {
  text-align: right;
}
