
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_d96hb350bzlivn29.eot?t=1499593749133'); /* IE9*/
  src: url('//at.alicdn.com/t/font_d96hb350bzlivn29.eot?t=1499593749133#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_d96hb350bzlivn29.woff?t=1499593749133') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_d96hb350bzlivn29.ttf?t=1499593749133') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_d96hb350bzlivn29.svg?t=1499593749133#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-socketio:before { content: "\e606"; }

.icon-networkmonitor:before { content: "\e632"; }

.icon-more2:before { content: "\e696"; }

.icon-iconmockup01:before { content: "\e631"; }

.icon-zhuanfa:before { content: "\e65f"; }

.icon-more:before { content: "\e602"; }

.icon-ip:before { content: "\e76c"; }

.icon-peizhi:before { content: "\e604"; }

.icon-neirong:before { content: "\e607"; }

.icon-xiangmu:before { content: "\e620"; }

.icon-zhuangtai:before { content: "\e67b"; }

.icon-bangzhu:before { content: "\e600"; }
