.project-wraper {
  width: 700px;
}

.project-path {
  display: flex;
  margin-bottom: 20px;
  .left{
    flex-grow: 1;
  }
  .right {
    width: 70px;
    position: relative;
  }
  .delete-btn {
    position: absolute;
    bottom: 22px;
    right: 0;
  }
}
.project-path-info {
  color: #999;
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 20px;
}