.head-nav {
  z-index: 999;
  color: #20a0ff;
  height: 72px;
  line-height: 72px;

  .el-dropdown {
    margin-right: 15px;
  }

  .el-button--small {
    padding: 9px 12px;
    border-radius: 3px;
  }
}