.socks-configure {
  max-width: 500px;

  .http-proxy {
    width: 400px;
    .ip {
      width: 200px;
      display: inline-block;
      margin-right: 10px;
    }
    .port {
      width: 150px;
      margin-left: 10px;
      display: inline-block;
    }
  }

  .el-button {
    margin-top: 15px;
    padding: 10px 28px;
    letter-spacing: 2px;
  }

  .socks-editor {
    height: 200px;
    width: 760px;
    font-size: 18px;
    padding: 10px 20px;
  }
}
