* {
  box-sizing: border-box;
}

.monitor-body {
  display: flex;
  height: 100%;
  overflow: hidden;
  //.device-list {
  //  width: 250px;
  //  height: 100%;
  //}
  .traffic-list {
    flex-grow:1;
    height: 100%;
  }
  .traffic-detail {
    width: 400px;
    height: 100%;
  }
}
